@model IList<Embarcacao>
@{ ViewData["Title"] = "Listagem de embarcações"; }


<Feedback Texto="@TempData["Sucesso"]" is-error="false"></Feedback>

<h1 style="text-align: center;" class="mb-3">Listagem das embarcações</h1>

<form class="form-inline my-5 justify-content-center" asp-action="ListaFiltrada">
    <input class="form-control mr-sm-2" type="text" placeholder="Pesquise por nome" aria-label="Search">
    <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table table-dark table-hover w-100 mt-5">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Milhas navegadas</th>
            <th scope="col">Condição</th>
            <th scope="col">Porte</th>
            <th scope="col">Turístico</th>
            <th scope="col" style="text-align: center">Ações</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr class="table table-info table-striped text-black-50">
                <th scope="row" style="vertical-align: middle;">@item.Nome</th>
                <td style="vertical-align: middle;">@item.MilhasNavegadas</td>
                <td style="vertical-align: middle;">@item.Condicao</td>
                <td style="vertical-align: middle;">@item.Porte</td>
                <td style="vertical-align: middle;">@(item.Turistico ? "Sim" : "Não")</td>
                <td style="text-align: center">
                    <a asp-action="Alterar" class="btn btn-light" asp-route-id="@item.Id">Alterar</a>
                    <button onclick="idEmbarcacao.value = @item.Id" type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalConfirma">
                        Remover
                    </button>
                </td>
            </tr>
        </tbody>
    }
</table>
<div class="text-center">
    <a asp-action="Index" class="btn btn-info">Voltar para o menu principal</a>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirma" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #23272B; color: white">
                <h5 class="modal-title" id="modalLabel">Confirmação</h5>
            </div>
            <div class="modal-body" style="background-color: powderblue">
                Você tem certeza que deseja deletar o registro dessa embarcação?
            </div>
            <div class="modal-footer border-top-0" style="background-color: powderblue; color: white">
                <form asp-action="Deletar">
                    <input type="hidden" id="idEmbarcacao" name="id" />
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim, delete a embarcação</button>
                </form>
            </div>
        </div>
    </div>
</div>